doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title About Us
    link(rel='stylesheet', href='/style.css')
  body
    .about-section
      h1 Helping Clients Create the Future
      p We combine tech expertise and business intelligence to catalyze change and deliver results.
    h2(style='text-align:center') Advantages
    .row
      .column
        .card
          img(src='https://images.idgesg.net/images/article/2018/02/software_development_team_coding_programming_strategy_thinkstock_853580100-100749662-large.jpg' alt='team' style='width:100%')
          .container
            h2 What we do
            p As global leaders in IT services, digital, and business solutions, we partner with clients to simplify, strengthen, and transform their businesses.
            p
              button.button Contact
      .column
        .card
          img(src='https://www.accountingweb.com/sites/default/files/styles/inline_banner/public/clientretention_0.jpg?itok=vM9nbAek' alt='customer' style='width:100%')
          .container
            h2 Our Customers
            p today, customer experience defines the brand, analytics overrule onstincts, and innovation, insight, and agility-not size-defines winners.
            p
              button.button Contact
      .column
        .card
          img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgf72UpThtyLsW0S-OiBDHiNrtkiTvhmCwgQ&usqp=CAU' alt='talent' style='width:100%')
          .container
            h2 Our Talent
            p We have 46295 employess representing 120 nationalities across 37 countries.
            p
              button.button Contact
